<div class = "container-fluid"> 
    <div class="col-md-4 mx-auto arrange-form blur-content">
      <h1 class = "form-title text-center">記事を投稿する</h1>
      <%= render 'shared/question_form' %>
    </div>
</div>