<div class = "container-fluid">  
  <div class = "offset-4 col-md-4 arrange-form blur-content">
    <h1 class = "form-title text-center">アカウント情報更新</h1>
    <div class = "form-zone">
        <%= render 'form' %>
    </div>
  </div>
</div>